<section class="wishlist page-width" id="wishlist">
    <ul id="main-collection-product-grid" class="grid grid--2-col negative-margin product-grid grid--3-col-tablet grid--one-third-max grid--4-col-desktop grid--quarter-max" grid-wishlist>
      {% comment %} Sample loading element {% endcomment %}
      <p>Loading...</p>
    </ul>
  </section>